html {
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1.4;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;

}



h1 {
    font-family: 'PT Sans', sans-serif;
    }

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;

}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(./img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}

h3 {
    font-size: 1.6em;
    color: #fe4918;
    text-transform: uppercase;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    margin: 0;

}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}


.boton {
    background-color: #fe4918;
    padding: 10px 40px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 2px solid;

}

.boton:hover {
    cursor: pointer;
    background-color: #e33000;
}

.hollow .hollow:hover {
    background-color: white;
    color: #fe4918;
}

.boton.transparente {
    background-color: transparent;
    border: 2px solid white;
}

.boton.transparente:hover {
    color: #fe4918;
}




.float-right {
    float: right
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.contenedor {
    width: 95%;
    margin: 0 auto;
}

.seccion {
    padding: 30px 0;
}

.seccion p {
    font-size: 1.2rem;
    text-align: center;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 98%;
    }

}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
    }

}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 90%;
    }

}

.hero {
    background-image: url(./img/image-from-rawpixel-id-2374531-png.png);
    height: 100vh;
    background-position: top center;
    background-size: cover;

}

.contenido-header {
    padding-top: 40px;
}

@media only screen and (min-width:768px) {
    .contenido-header {
        padding-top: 20px;
    }
}

.redes-sociales {
    text-align: center;

}

.redes-sociales a {
    color: white;
    font-size: 2rem;
    margin-right: 20px;
}

.redes-sociales a:last-child {
    margin-right: 0;
}

.informacion-evento {
    text-align: center;
    color: #ffffff;
}

@media only screen and (min-width:768px) {
    .informacion-evento {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }

}

.informacion-evento p {
    margin: 0;
    display: inline;
    font-size: 14px;
}

.informacion-evento p i {
    color: #fe4918;
}

.fecha {
    float: left;
}

.ciudad {
    float: right;
    text-align: right;
}

.nombre-sitio {
    align-items: center;
    text-align: center;
    font-size: 7vw;
    font-family: 'PT Sans', sans-serif;
    color: black;
    animation-duration: 9s;
}

.slogan span {
    font-weight: bold;
}

@media only screen and (min-width:768px) {
    .nombre-sitio {
        font-size: 10vw;
        margin: 0%;
    }
}

/**Barra**/
.barra {
    background-color: #353535;
    padding: 20px 0;
}

.logo img {
    width: 80%;
    float: left;
}

@media only screen and (min-width:768px) {
    .logo img {
        width: 33%;
    }
}

/**Navegacion principal**/
.navegacion-principal {
    display: none;
}

.navegacion-principal a {
    font-family: "Oswald", sans-serif;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;

}

.navegacion-principal a:hover {
    background-color: #fe4918;

}

.navegacion-principal a:last-child {
    border: 2px solid #fe4918;
    color: #fe4918;
}

.navegacion-principal a:last-child:hover {
    color: white;
}

@media only screen and (min-width:768px) {
    .navegacion-principal {
        width: 67%;
        float: right;
        text-align: right;
        display: block;
    }

    .navegacion-principal a {
        padding: 20px 10px;
        display: inline-block;
        width: auto;
        display: inline-block;
        text-align: center;
        margin: 0 10px 0 0;
    }

}

/**Menu movil**/

.menu-movil {
    width: 68px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}

.menu-movil:hover {
    cursor: pointer;
}

@media only screen and (min-width:768px) {
    .menu-movil {
        display: none;
    }
}

.menu-movil span {
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: block;

}

/**Talleres**/

.programa {
    position: relative;
}

.contenedor-video {
    max-width: 100%;
    overflow-x: hidden;
}

.contenido-programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.programa-evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 15px;
    margin-top: 80px;
}

@media only screen and (min-width:768px) {
    .programa-evento {
        width: 70%;
    }
}

@media only screen and (min-width:992px) {
    .programa-evento {
        width: 50%;
    }
}

.menu-programa {
    width: 100%;
    border-bottom: 1px solid #fe4918;
    padding-bottom: 10px;
}

@media only screen and (min-width:768px) {
    .menu-programa {
        display: table;
    }
}



.menu-programa a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
    font-size: 1.2em;
}

@media only screen and (min-width:768px) {
    .menu-programa a {
        display: table-cell;
    }
}

.menu-programa a i,
.detalle-evento i {
    color: #fe4918;
    font-size: 1.4em;
    margin-right: 5px;
}

.detalle-evento {
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding: 10px 20px;

}

.detalle-evento:nth-child(2) {
    border: none;
}

.detalle-evento p {
    margin-bottom: 20px;
    font-size: 18px;
}

.lista-invitados li {
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px) {
    .lista-invitados li {
        width: 50%;
    }
}

@media only screen and (min-width:768px) {
    .lista-invitados li {
        width: 33.3%;
    }
}

.invitado {
    position: relative;
    overflow: hidden;
}

.invitado img {
    max-width: 100%;
    filter: grayscale(1);
    transition: ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.invitado:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);

}

.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0 0;
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    transition: ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.invitado:hover p {
    bottom: -80px;
    opacity: 0;

}

.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
}

.contador {
    position: relative;
    height: auto;
}

.contador::before {
    background-image: url(./img/bg-resumen.jpg);
    content: '';
}

.resumen-evento {
    position: relative;
    padding: 120px 0;
}

.resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

@media only screen and (min-width:768px) {
    .resumen-evento li {
        width: 25%;
    }
}

.numero {
    color: #fe4918;
    font-size: 4em;
    display: block;
    margin: 0 0 10px 0;
    font-family: 'Oswald', sans-serif;
}

/**Tabla de precios**/

.lista-precios ul {
    padding: 10px;
}

@media only screen and (min-width:768px) {
    .lista-precios {
        float: left;
        width: 33.3%;
    }
}

.tabla-precio {
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    transition: all .3s ease;
}

.tabla-precio:hover {
    transform: scale(1.1);
    border: 1px solid #fe4918;
    box-shadow: 0px 0px 50px #666;
}


.tabla-precio li {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #868686;
    line-height: 26px;
}

.tabla-precio li::before {
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    content: "\f14a";
    color: green;
    padding: 0 5px;
    font-size: 20px;
    line-height: 25px;

}

.tabla-precio h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.tabla-precio .numero {
    color: black;
    font-size: 3em;
    display: block;
    margin: 10px 0 10px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

/**Mapa**/


/**Testimoniales**/

.testimoniales {
    padding-bottom: 20px;
}

.testimonial {
    padding: 5px;
}

@media only screen and (min-width:768px) {
    .testimonial {
        float: left;
        width: 33.3%;
    }

}

blockquote {
    background-color: white;
    border: 2px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

blockquote p {
    text-align: justify !important;
    font-size: 1em !important;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px 0px 65px;
}

blockquote p::before {
    font-family: 'FontAwesome';
    content: '\f10d';
    position: absolute;
    left: 13px;
    top: 8px;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #fe4918;
}

.autor-testimonial {
    padding: 0px;
    background-color: transparent;
}

.autor-testimonial img {
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
}

.autor-testimonial cite {
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 15px;
    width: 66.6%;
    float: right;
    font-weight: bold;

}

.autor-testimonial span {
    color: black;
    display: block;
    text-transform: none;
    margin-top: 5px;
    font-style: italic;
}

/**Newsletter**/

.newsletter {
    position: relative;
    height: auto;
}

.newsletter::before {

    background-image: url(/img/bg-newsletter.jpg);
    content: '';
}

.contenido {
    padding: 100px 0;
    color: white;
    text-align: center;
    position: relative;
}

.contenido p {
    font-size: 25px;

}

.newsletter .contenido p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-size: 7vw;
    font-family: 'Pt Sans', sans-serif;

}

/**Cuenta regresiva**/
.cuenta-regresiva ul li {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
}

@media only screen and (min-width:768px) {
    .cuenta-regresiva ul li {
        width: 25%;
        ;
        float: left;
    }
}

/**Footer**/

footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 0px 20px;
}

footer .contenedor>div {
    color: #e1e1e1;
    padding: 0px 20px;
    font-size: 12px;

}

@media only screen and (min-width:768px) {
    footer .contenedor>div {
        width: 33.3%;
        float: left;
    }
}

footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;

}

footer h3 span {
    color: #fe4918
}

footer.ultimos-tuits {
    margin-bottom: 10px;
}

footer.redes-sociales {
    text-align: left;
}

.copyright {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
}

/**Internas**/

.registro h3{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

.registro label{
    margin-bottom: 5px;
    font-weight: bold;

}

h4{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fe4918;
    padding-bottom: 10px;
    font-size: 1.2em;
}